<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DualPaneActivity" />

        <!-- TextView Widget -->

        <receiver android:name=".widgets.textwidget.TextWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_ingredients_info" />
        </receiver>

        <service android:name=".widgets.textwidget.TextWidgetDataService" />

        <activity android:name=".widgets.textwidget.TextWidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <!-- ListView Collection Widget -->

        <!-- 1. The broadcast receiver that refers to our widget. This needs the
                intent-filter android.appwidget.action.APPWIDGET_UPDATE and the
                meta-data for our XML widget configuration -->
        <receiver android:name=".widgets.listwidget.ListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_listview_ingredients_info" />
        </receiver>

        <!-- 2. The service that will send our collection data to our widget. It needs the
                permission android.permission.BIND_REMOTEVIEWS -->
        <service
            android:name=".widgets.listwidget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".widgets.listwidget.ListWidgetDataService" />

        <activity android:name=".widgets.listwidget.ListWidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>